/* FeaturedMovie.module.css */
.featuredMovie {
  position: relative;
  height: 35rem;
  width: 90rem;
}

.featuredMovieImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.overlay {
  position: absolute;
  bottom: 8rem;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.062);
  padding: 20px;
}

.buttons {
  display: flex;
  align-items: center;
}

.playButton,
.watchTrailerButton {
  margin-right: 10px;
}

.overview {
  margin-top: 10px;
  color: #ffffff;
}
